.dashboard-container {
  padding: 30px;
}

.dashboard-title {
  text-align: center;
  margin-bottom: 30px;
}

.stats-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.stat-card {
  width: 200px;
  padding: 20px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
  text-align: center;
}

.stat-card h3 {
  font-size: 28px;
  margin: 0;
}

.stat-card.success {
  background: #d4edda;
}

.add-company-section {
  margin-bottom: 40px;
  text-align: center;
}

.form-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.form-row input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form-row button {
  padding: 8px 15px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.section-title {
  text-align: center;
  margin-bottom: 20px;
}

.applications-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .application-card {
  width: 700px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: 10px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}

.status {
  padding: 5px 12px;
  border-radius: 20px;
  margin-bottom: 10px;
} */

.application-card {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 10px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
  flex-wrap: wrap;
}

.app-left {
  flex: 1;
  min-width: 250px;
}

.app-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  min-width: 150px;
}
.status {
  padding: 6px 14px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 14px;
}


.APPLIED {
  background: #fff3cd;
  color: #856404;
}

.SELECTED {
  background: #28a745;
  color: white;
}

.REJECTED {
  background: #dc3545;
  color: white;
}

.btn-group {
  display: flex;
  gap: 10px;
}

.select-btn {
  background: #28a745;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.reject-btn {
  background: #dc3545;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.filter-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.filter-container input,
.filter-container select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}


.dark {
  background: #1e1e1e;
  color: white;
  min-height: 100vh;
}

.dark .stat-card,
.dark .application-card {
  background: #2c2c2c;
  color: white;
}

.dark input,
.dark select {
  background: #444;
  color: white;
  border: 1px solid #666;
}
